body{
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}
#main-container{
    display:flex;
    width: 85%;
    margin-left: auto;
    margin-right:auto;

}
#list-container{
    display: flex;
    flex-direction: column;
    width:50%;
    background-color: white;
    
    border:1px black solid;
    margin: 5px;
}
#detail-container{
    background-color: lightgray;
    display: flexbox;
    width:50%;
    background-color: white;
    border:1px black solid;
    margin:5px;
    overflow: hidden;
    object-position: center;    
    
    
}
#detail-container > img{
    object-fit: cover;
    object-position: top;
    display: block;
    height: 100%;
    width: 100%;
}
#detail-image{
    object-fit: cover;
    object-position: center;
    display: block;
    max-height: 50%;
    max-width: 50%;
    border:3px black solid;
}
#list-item-container{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
}
#list-item-container:hover{
    background-color: lightgray;
}
#list-fullName{
    width:50%;
}
#list-avatar{
    width: 35%;
}
#list-avatar > img {
    width: 70px;;
    height:70px;
}